/* Small Devices, Tablets */
@media only screen and (min-width: 992px) {
  .logo {
    font-size: 6vh;
  }
}

@media only screen and (max-width: 991px) {
  .logo {
    font-size: 6vh;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    font-size: 6vh;
  }
}

@media only screen and (max-width: 576px) {
  .logo {
    font-size: 6vh;
  }
}
