<div class="side_left">
  <div class="content_block">

    <h4>RFID</h4>
    <br/>
    {% for uid in rfid %}
      <div class="content_bord">
        <h5 {% if uid.activ %} class="yes_activ" {% else %} class="no_activ" {% endif %} id="rfid_{{uid.id}}">{{uid.rfid}}</h5>
        <p class="btn btn_lite delete_rfid" id="rfid_{{uid.id}}">Удалить</p>
        <p class="btn btn_lite change_activ_rfid" id="rfid_activ_{{uid.id}}"> {% if uid.activ %} Деактевировать {% else %} Актевировать {% endif %} </p>
      </div>
    {% endfor %}
    <div class="content_bord hidden" id="add_rfid">
      <h5 id = "rfid_info">Подождите</h5>
    </div>
    <p class="btn btn_lite" id="bth_rfid">Добавить</p>

  </div>
</div>
