<div class="pu_div"></div>
<div class="text-center container-fluid">
  <div class="row">
    <div class="col-sx-12 col-sm-1 col-md-2 col-lg-3 padding_low"></div>
    <div class="col-sx-12 col-sm-10 col-md-8 col-lg-6 padding_low">
      <div class="header">
        <h1 class="header_log">DomoPhone</h1>
      </div>
      </div>
    <div class="col-sx-12 col-sm-1 col-md-2 col-lg-3 padding_low"></div>
  </div>
</div>

<div class="text-center container-fluid">
  <div class="row">
    <div class="col-sx-1 col-sm-1 col-md-2 col-lg-3 padding_low"></div>
    <div class="col-sx-10 col-sm-10 col-md-8 col-lg-6 padding_low">
      <div class="content">
        <div class="row">
          <div class="col-sx-3 col-sm-1 col-md-1 col-lg-2 padding_low"></div>
          <div class="col-sx-6 col-sm-10 col-md-10 col-lg-8 padding_low">
            <a href="/users" class="btn btn_menu">Пользователи</a>
    				<a href="#" class="btn btn_menu">Настройки</a>
    				<a href="#" class="btn btn_menu">История</a>
    				<a href="#" class="btn btn_menu">Отслеживать</a>
    				<a href="#" class="btn btn_menu">Пульт</a>
          </div>
          <div class="col-sx-3 col-sm-1 col-md-1 col-lg-2 padding_low"></div>
      </div>
      </div>
    </div>
    <div class="col-sx-1 col-sm-1 col-md-2 col-lg-3 padding_low"></div>
  </div>
</div>
<div class="text-center">
  <div class="footer fix_down">
  	<div class="footer_menu">
  		<a href="/" class="btn_foot">Главное меню</a>
  	</div>
  </div>
</div>
